@tailwind base;
@tailwind components;
@tailwind utilities;



@keyframes moveCharacter {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(100%);
  }

}

.animate-moveCharacter {
  animation: moveCharacter 4s linear infinite;
}